<app-lnd-base>
    <div class="flex flex-col h-screen gap-5">
        <!-- Banner -->
        <div class="grid w-full">
            <img [src]="HomeBanners[ActiveBannersIndex].image" alt="image" class="w-full h-auto rounded-sm">

            <div class="flex w-full gap-2 mt-3 items-center">
                <span class="cursor-pointer" (click)="handlePrevBanner(ActiveBannersIndex)">
                    <i class="pi pi-chevron-left {{ ActiveBannersIndex != 0 ? 'text-gray-600' : 'text-gray-300'}}"></i>
                </span>

                @for (item of HomeBanners; let i = $index; track i) {
                <span class="pb-[5px]">
                    <i class="pi pi-circle-fill {{ ActiveBannersIndex == i ? 'text-slate-800' : 'text-gray-300'}}"
                        style="font-size: 9px;"></i>
                </span>
                }

                <span class="cursor-pointer" (click)="handleNextBanner(ActiveBannersIndex)">
                    <i
                        class="pi pi-chevron-right {{ ActiveBannersIndex != (HomeBanners.length - 1) ? 'text-gray-600' : 'text-gray-300'}}"></i>
                </span>
            </div>
        </div>
    </div>
</app-lnd-base>